.tableButton
{
    width: 82px;
    height: 39px;
    background: #0092FF;
    border-radius: 5px;
    font-family: "Roboto";
    /* font-style: normal; */
    font-weight: 500;
    /* font-size: 16px; */
    line-height: 19px;
    border: none;
}
body
{
    background-color: black;
    border-radius: 10px;
}